CodeQ:
  PublishNotifier:
    notify:
      internalWorkspace:
        onFirstChange: true       # Send notification for publishing to an internal workspace WITHOUT unpublished changes in the workspace
        onAdditionalChange: false # Send notification for publishing to an internal workspace WITH unpublished changes present in the workspace
      publicWorkspace: false      # Send notification for publishing to the LIVE Workspace
    email:
      enabled: false
      senderName: 'Neos'
      senderAddress: 'no-reply@neos-server.com'
      notifyEmails: []
      subject: '%1$s has published changes'
      body: |+
        %1$s has published changes to the private workspace %2$s.
        Please review the changes and publish to live: %3$s
    slack:
      enabled: false
      postTo: []
        #example:
        #  webhookUrl: 'https://hooks.slack.com/services/...'
        #  clientSettings: [] # additional client configurations
      message: |+
        *%1$s* has published changes to the workspace *%2$s*.
        Please review the changes and publish to live: <%3$s|here>
